<div class="container p-3 my-3 bg-white text-black">
  <div class="panel-heading text-center">
    <h1>Mascotas Encontradas</h1>
  </div>
  <div class="album text-center">
    <div class="container">
      <div class="row">
        <div class="card" *ngFor="let publication of publications | async">
          <ngb-carousel *ngIf='images'>
            <ng-template ngbSlide *ngFor="let image of publication.Photos">
              <div class="picsum-img-wrapper">
                <img [src]="image" alt="Card image">
              </div>
            </ng-template>
          </ngb-carousel>
          <h4 class="card-title">{{publication.AnimalDTO.AnimalDescription}}</h4>
          <p class="card-text">
            {{publication.AnimalDTO.AnimalAge}} -
            {{publication.AnimalDTO.AnimalSize}} -
            {{publication.PublicationAddress}} -
            {{publication.PublicationDescription}}
          </p>
          <button type="button" class="btn btn-info" (click)="openDialog(publication)">Ver detalles</button>
        </div>
      </div>
    </div>
  </div>
</div>