<div class="style backg">
  <div class="container p-3 my-3">
    <div class="row">
      <div class="container">
        <div class="table panel-heading text-center">
          <h2 class="t-stroke-shadow"><u>{{ 'serviceList.title1' | translate}}</u></h2>
          <table class="table table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">{{ 'serviceList.desp' | translate}}</th>
                <th scope="col">{{ 'serviceList.unidTime' | translate}}</th>
                <th scope="col">{{ 'serviceList.timeTransit' | translate}}</th>
                <th scope="col">{{ 'serviceList.actions' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transit of transitServices">
                <td>{{transit.ServiceDescription}}</td>
                <td>{{transit.UnidOfTime}}</td>
                <td>{{transit.TransitTime}}</td>
                <td><button type="button" class="btn btn-primary"
                  (click)="openDialogTransit(transit)"><i class='fas fa-eye'></i> {{ 'petsList.viewDetails' | translate }}</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="table panel-heading text-center">
          <h2 class="t-stroke-shadow"><u>{{ 'serviceList.title2' | translate}}</u></h2>
          <table class="table table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">{{ 'serviceList.desp' | translate}}</th>
                <th scope="col">{{ 'serviceList.unidTime' | translate}}</th>
                <th scope="col">{{ 'serviceList.timeTransport' | translate}}</th>
                <th scope="col">{{ 'serviceList.actions' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transport of transportServices">
                <td>{{transport.ServiceDescription}}</td>
                <td>{{transport.UnidOfTime}}</td>
                <td>{{transport.ScheduleAvailable}}</td>
                <td><button type="button" class="btn btn-primary"
                  (click)="openDialogTransport(transport)"><i class='fas fa-eye'></i> {{ 'petsList.viewDetails' | translate }}</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="table panel-heading text-center ">
          <h2 class="t-stroke-shadow"><u>{{ 'serviceList.title3' | translate}}</u></h2>
          <table class="table table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">{{ 'serviceList.desp' | translate}}</th>
                <th scope="col">{{ 'serviceList.unidTime' | translate}}</th>
                <th scope="col">{{ 'serviceList.timeCare' | translate}}</th>
                <th scope="col">{{ 'serviceList.actions' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let care of careServices">
                <td>{{care.ServiceDescription}}</td>
                <td>{{care.UnidOfTime}}</td>
                <td>{{care.CareTime}}</td>
                <td><button type="button" class="btn btn-primary"
                  (click)="openDialogCare(care)"><i class='fas fa-eye'></i> {{ 'petsList.viewDetails' | translate }}</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>