<div class="container">
  <div class="table-dark panel-heading text-center">
    <h2>Lista de servicios de Tránsito</h2>
    <div class="panel-body table-responsive">
      <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Unidad de tiempo</th>
            <th scope="col">Tiempo de tránsito</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transit of transitServices">
            <td>{{transit.ServiceDescription}}</td>
            <td>{{transit.UnidOfTime}}</td>
            <td>{{transit.TransitTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="table-dark panel-heading text-center">
    <h2>Lista de servicios de Transporte</h2>
    <div class="panel-body table-responsive">
      <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Unidad de tiempo</th>
            <th scope="col">Tiempo de transporte</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transport of transportServices">
            <td>{{transport.ServiceDescription}}</td>
            <td>{{transport.UnidOfTime}}</td>
            <td>{{transport.ScheduleAvailable}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="table-dark panel-heading text-center">
    <h2>Lista de servicios de Cuidado</h2>
    <div class="panel-body table-responsive">
      <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Unidad de tiempo</th>
            <th scope="col">Tiempo de cuidado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let care of careServices">
            <td>{{care.ServiceDescription}}</td>
            <td>{{care.UnidOfTime}}</td>
            <td>{{care.CareTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
