<div class="container">
  <h3>Crear publicación</h3>
  <form (ngSubmit)="onSubmit()" class="table-responsive">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Tipo de publicación</label>
          <select [(ngModel)]="publicationTypeSelected" name="status" placeholder="PRUEBA" class="form-control">
            <option *ngFor="let publicationType of publicationTypes" [ngValue]="publicationType"> {{publicationType}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Raza</label>
          <input type="text" class="form-control" id="idBreed" required [(ngModel)]="animalDTO.Breed"
            name="inpAnimalBreed">
        </div>

        <div class="col-md-6">
          <label for="name">Tipo de Animal</label>
          <select [(ngModel)]="animalTypeSelected" name="status" placeholder="PRUEBA" class="form-control">
            <option *ngFor="let animalType of animalTypes" [ngValue]="animalType"> {{animalType}} </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Edad</label>
          <input type="text" class="form-control" id="idAge" required [(ngModel)]="animalDTO.AnimalAge"
            name="inpAnimalAge">
        </div>

        <div class="col-md-6">
          <label for="name">Descripción Animal</label>
          <input type="text" class="form-control" id="idAnimalDescription" required
            [(ngModel)]="animalDTO.AnimalDescription" name="inpAnimalDescription">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Dirección publicación</label>
          <input type="text" class="form-control" id="idPublicationAddress" required
            [(ngModel)]="publicationDTO.PublicationAddress" name="inpPublicationAddress">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Agregar Fotos</label>
          <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
        </div>
      </div>
    </div>
    <input #imageUser type="hidden" [value]="urlImage | async">

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Localización publicación</label>
          <p>Agregar componente para ubicación</p>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-success">Crear publicación</button>
      </div>
      <div class="col-md-6">
        <button (click)="goToProfile()" class="btn btn-secondary">Cancelar</button><br>
      </div>
    </div>
  </form>
</div>