<div class="style backg">
  <div class="container p-3 my-3 text-black table-responsive">

    <div class="row ">

      <div class="col-md-12 mx-auto mt-5 card bg-light">
        <h3>Crear publicación</h3>
        <br>
        <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Tipo de publicación</label>
                <select [(ngModel)]="publicationTypeSelected" name="status" placeholder="PRUEBA" class="form-control"
                  formControlName="tipoPub" [ngClass]="{ 'is-invalid': submitted && controls.tipoPub.errors }">
                  <option *ngFor="let publicationType of publicationTypes" [ngValue]="publicationType">
                    {{publicationType}}
                  </option>
                </select>
                <div *ngIf="submitted && controls.tipoPub.errors" class="invalid-feedback">
                  <div *ngIf="controls.tipoPub.errors.required">Por favor, seleccione un tipo de publicación</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Raza</label>
                <input type="text" formControlName="raza" class="form-control" id="idBreed" required
                  [(ngModel)]="animalDTO.Breed" [ngClass]="{ 'is-invalid': submitted && controls.raza.errors }">
                <div *ngIf="submitted && controls.raza.errors" class="invalid-feedback">
                  <div *ngIf="controls.raza.errors.required">Por favor, ingrese la raza de su mascota</div>
                </div>
              </div>

              <div class="col-md-6">
                <label>Tipo de Animal</label>
                <select [(ngModel)]="animalTypeSelected" name="status" placeholder="PRUEBA" class="form-control"
                  formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && controls.tipo.errors }">
                  <option *ngFor="let animalType of animalTypes" [ngValue]="animalType"> {{animalType}} </option>
                </select>
                <div *ngIf="submitted && controls.tipo.errors" class="invalid-feedback">
                  <div *ngIf="controls.tipo.errors.required">Por favor, seleccione un tipo de animal</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="name">Edad</label>
                <input type="text" class="form-control" id="idAge" required [(ngModel)]="animalDTO.AnimalAge"
                  formControlName="edad" name="inpAnimalAge" [ngClass]="{ 'is-invalid': submitted && controls.edad.errors }">
                <div *ngIf="submitted && controls.edad.errors" class="invalid-feedback">
                  <div *ngIf="controls.edad.errors.required">Por favor, especifique la edad</div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="name">Descripción Animal</label>
                <input type="text" class="form-control" id="idAnimalDescription" required
                  [(ngModel)]="animalDTO.AnimalDescription" name="inpAnimalDescription" formControlName="desc"
                  [ngClass]="{ 'is-invalid': submitted && controls.desc.errors }">
                <div *ngIf="submitted && controls.desc.errors" class="invalid-feedback">
                  <div *ngIf="controls.desc.errors.required">Por favor, ingrese una breve descripción</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="name">Dirección publicación</label>
                <input type="text" class="form-control" required [(ngModel)]="publicationDTO.PublicationAddress"
                  name="inpPublicationAddress" formControlName="ubi"
                  [ngClass]="{ 'is-invalid': submitted && controls.ubi.errors }">
                <div *ngIf="submitted && controls.ubi.errors" class="invalid-feedback">
                  <div *ngIf="controls.ubi.errors.required">Por favor, seleccione una ubicación</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Agregar Fotos</label>
            <div class="custom-file">
              <div class="col-md-6">
                <label class="custom-file-label" for="name">Choose file</label>
                <input [formControl]="myForm" type="file" class="custom-file-input" multiple="true" accept=".png, .jpg"
                  (change)="onUpload($event)" formControlName="photos"
                  [ngClass]="{ 'is-invalid': submitted && controls.photos.errors }">
                <div *ngIf="submitted && controls.photos.errors" class="invalid-feedback">
                  <div *ngIf="controls.photos.errors.required">Por favor, suba al menos una imagen del animal</div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Localización publicación</label>
          <p>Agregar componente para ubicación</p>
        </div>
      </div>
    </div>
    <br> -->

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <div *ngFor="let url of images;let index = index">
                  <img [src]="url" height="150" width="200px" style="margin: 3px;">
                  <button mat-icon-button (click)="removeSelectedFile(index)">delete</button>
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Localización publicación</label>
                <p>Agregar componente para ubicación</p>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-success">Crear publicación</button>
            </div>
            <div class="col-md-6">
              <button (click)="goToProfile()" class="btn btn-secondary">Cancelar</button><br>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>