<div class="style backg">
  <div class="container p-3 my-3">
    <div class="row">
      <div class="container">
        <div class="table panel-heading text-center table-responsive">
          <h1 class="t-stroke-shadow"><strong>{{loginDTO.Username}}</strong></h1>
          <h3 class="t-stroke-shadow"><strong>{{ 'serviceList.thisServ' | translate }}</strong></h3>

          <h2 class="t-stroke-shadow"><u>{{ 'serviceList.title1' | translate }}</u></h2>
          
          <div *ngIf="isEmptyListTransit">
            <br>
            <div class="alert alert-info alert-dismissible fade show text-center">
              <strong>{{ 'userPubli.oup' | translate }}</strong> {{ 'serviceList.emptyTransit' | translate }}
            </div>
          </div>
          <table class="table table-striped text-center table-bordered table-sm" *ngIf="!isEmptyListTransit">
            <thead class="thead-dark">
              <tr>
                <th scope="col">{{ 'serviceList.desp' | translate }}</th>
                <th scope="col">{{ 'serviceList.unidTime' | translate }}</th>
                <th scope="col">{{ 'serviceList.timeTransit' | translate }}</th>
                <th scope="col">{{ 'serviceList.status' | translate }}</th>
                <th scope="col">{{ 'serviceList.actions' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transit of transitServices">
                <td>{{transit.ServiceDescription}}</td>
                <td>{{transit.UnidOfTime}}</td>
                <td>{{transit.TransitTime}}</td>
                <td>{{transit.ServiceStatus}}</td>
                <td>
                  <div class="btn-group ">
                    <button type="button" class="btn btn-secondary"
                      (click)="redirectEditService(transit.Id, transit.TypeService)">
                      <i class='far fa-edit'></i>{{ 'serviceList.edit' | translate }}</button>
                    <button (click)="deleteTransitService(transit.Id)" type="button" class="btn btn-info ">
                      <i class='fas fa-exchange-alt'></i> {{ 'serviceList.desActive' | translate }} </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="table panel-heading text-center">
          <h2 class="t-stroke-shadow"><u>{{ 'serviceList.title2' | translate }}</u></h2>
          <div *ngIf="isEmptyListTransport">
            <br>
            <div class="alert alert-info alert-dismissible fade show text-center">
              <strong>{{ 'userPubli.oup' | translate }}</strong> {{ 'serviceList.emptyTransport' | translate }}
            </div>
          </div>
          <table class="table table-striped text-center table-bordered table-sm" *ngIf="!isEmptyListTransport">
            <thead class="thead-dark">
              <tr>
                <th scope="col">{{ 'serviceList.desp' | translate }}</th>
                <th scope="col">{{ 'serviceList.unidTime' | translate }}</th>
                <th scope="col">{{ 'serviceList.timeTransport' | translate }}</th>
                <th scope="col">{{ 'serviceList.status' | translate }}</th>
                <th scope="col">{{ 'serviceList.actions' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transport of transportServices">
                <td>{{transport.ServiceDescription}}</td>
                <td>{{transport.UnidOfTime}}</td>
                <td>{{transport.ScheduleAvailable}}</td>
                <td>{{transport.ServiceStatus}}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary"
                      (click)="redirectEditService(transport.Id, transport.TypeService)"><i class='far fa-edit'></i>
                      {{ 'serviceList.edit' | translate }}</button>
                    <button (click)="deleteTransportService(transport.Id)" type="button" class="btn btn-info">
                      <i class='fas fa-exchange-alt'></i> {{ 'serviceList.desActive' | translate }} </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="table panel-heading text-center ">
          <h2 class="t-stroke-shadow"><u>{{ 'serviceList.title3' | translate }}</u></h2>
          <div *ngIf="isEmptyListCare">
            <br>
            <div class="alert alert-info alert-dismissible fade show text-center">
              <strong>{{ 'userPubli.oup' | translate }}</strong> {{ 'serviceList.emptyCare' | translate }}
            </div>
          </div>
          <table class="table table-striped text-center table-bordered table-sm" *ngIf="!isEmptyListCare">
            <thead class="thead-dark">
              <tr>
                <th scope="col">{{ 'serviceList.desp' | translate }}</th>
                <th scope="col">{{ 'serviceList.unidTime' | translate }}</th>
                <th scope="col">{{ 'serviceList.timeCare' | translate }}</th>
                <th scope="col">{{ 'serviceList.status' | translate }}</th>
                <th scope="col">{{ 'serviceList.actions' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let care of careServices">
                <td>{{care.ServiceDescription}}</td>
                <td>{{care.UnidOfTime}}</td>
                <td>{{care.CareTime}}</td>
                <td>{{care.ServiceStatus}}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary"
                      (click)="redirectEditService(care.Id, care.TypeService)"><i class='far fa-edit'></i>
                      {{ 'serviceList.edit' | translate }}</button>
                    <button (click)="deleteCareService(care.Id)" type="button" class="btn btn-info">
                      <i class='fas fa-exchange-alt'></i> {{ 'serviceList.desActive' | translate }} </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>