<div class="style backg">
  <div class="container p-3 my-3">
    <div class="row">
      <div class="container">
        <div class="table panel-heading text-center">
          <h1 class="t-stroke-shadow"><strong>{{loginDTO.Username}}</strong></h1>
          <h3 class="t-stroke-shadow"><strong>Estos son tus servicios</strong></h3>
          <h2 class="t-stroke-shadow"><u>Lista de servicios de Tránsito</u></h2>
          <table class="table table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Unidad de tiempo</th>
                <th scope="col">Tiempo de tránsito</th>
                <th scope="col">Tipo servicio</th>
                <th scope="col"> ID</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transit of transitServices">
                <td>{{transit.ServiceDescription}}</td>
                <td>{{transit.UnidOfTime}}</td>
                <td>{{transit.TransitTime}}</td>
                <td>{{transit.TypeService}}</td>
                <td>{{transit.Id}}</td>
                <td>
                  <button type="button" class="btn btn-secondary" (click)="redirectEditService(transit.Id, transit.TypeService)"><i class='far fa-edit'></i> Editar</button>
                  <button type="button" class="btn btn-danger"><i class='fas fa-trash-alt'></i> Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="table panel-heading text-center">
          <h2 class="t-stroke-shadow"><u>Lista de servicios de Transporte</u></h2>
          <table class="table table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Unidad de tiempo</th>
                <th scope="col">Tiempo de transporte</th>
                <th scope="col">Tipo servicio</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transport of transportServices">
                <td>{{transport.ServiceDescription}}</td>
                <td>{{transport.UnidOfTime}}</td>
                <td>{{transport.ScheduleAvailable}}</td>
                <td>{{transport.TypeService}}</td>
                <td><button type="button" class="btn btn-secondary"><i class='far fa-edit'></i> Editar</button>
                  <button type="button" class="btn btn-danger"><i class='fas fa-trash-alt'></i> Eliminar</button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="table panel-heading text-center ">
          <h2 class="t-stroke-shadow"><u>Lista de servicios de Cuidado</u></h2>
          <table class="table table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Unidad de tiempo</th>
                <th scope="col">Tiempo de cuidado</th>
                <th scope="col">Tipo servicio</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let care of careServices">
                <td>{{care.ServiceDescription}}</td>
                <td>{{care.UnidOfTime}}</td>
                <td>{{care.CareTime}}</td>
                <td>{{care.TypeService}}</td>
                <td><button type="button" class="btn btn-secondary"><i class='far fa-edit'></i> Editar</button>
                  <button type="button" class="btn btn-danger"><i class='fas fa-trash-alt'></i> Eliminar</button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>