<div class="style backg">
<div class="container p-3 my-3 text-black">

    <div class="row">

      <div class="col-md-8 mx-auto mt-5 card">

        <h1>{{ 'signin.title' | translate }}</h1>
        <br>
        <h3>{{ 'signin.subtitle1' | translate }}</h3>
        <br>
        <form [formGroup]="signin" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>{{ 'signin.name' | translate }}</label>
            <input type="text" formControlName="nomb" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.nomb.errors }" [(ngModel)]="personDTO.Name" />
            <div *ngIf="submitted && f.nomb.errors" class="invalid-feedback">
              <div *ngIf="f.nomb.errors.required">{{ 'signin.nameError' | translate }}</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'signin.surname' | translate }}</label>
            <input type="text" formControlName="ape" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ape.errors }" [(ngModel)]="personDTO.SurName" />
            <div *ngIf="submitted && f.ape.errors" class="invalid-feedback">
              <div *ngIf="f.ape.errors.required">{{ 'signin.surnameError' | translate }}</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'signin.telephone' | translate }}</label>
            <input type="text" formControlName="phone" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"  [(ngModel)]="personDTO.Telephone"/>
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">{{ 'signin.telephoneError' | translate }}</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'signin.address' | translate }}</label>
            <input type="text" formControlName="dir" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.dir.errors }" [(ngModel)]="personDTO.Address"/>
            <div *ngIf="submitted && f.dir.errors" class="invalid-feedback">
              <div *ngIf="f.dir.errors.required">{{ 'signin.addressError' | translate }}</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'signin.location' | translate }}</label>
            <input type="text" formControlName="loc" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.loc.errors }" [(ngModel)]="personDTO.Location"/>
            <div *ngIf="submitted && f.loc.errors" class="invalid-feedback">
              <div *ngIf="f.loc.errors.required">{{ 'signin.locationError' | translate }}</div>
            </div>
          </div>
          <br>
          <h3>{{ 'signin.subtitle2' | translate }}</h3>
          <div class="form-group">
            <label>{{ 'login.username' | translate }}</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" [(ngModel)]="userDTO.UserName" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">{{ 'signin.usernameError' | translate }}</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'signin.email' | translate }}</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="userDTO.Email"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">{{ 'signin.emailErrorObl' | translate }}</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'login.password' | translate }}</label>
            <input type="text" formControlName="pass" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.pass.errors }" [(ngModel)]="userDTO.Password"/>
            <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
              <div *ngIf="f.pass.errors.required">{{ 'signin.passError' | translate }}</div>  
            </div>
          </div> 

          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">{{ 'signin.accept' | translate }}</button>
            <button (click)="goToLogin()" class="btn btn-danger">{{ 'signin.cancel' | translate }}</button>
          </div>
          
          <div *ngIf="failCreate">
            <div class="alert alert-danger text-center">
              <strong>Disculpe!</strong> Fallo la creación del usuario:  <strong>{{errorText}}</strong>
            </div>
          </div>
          <div *ngIf="createSuccess">
            <div class="alert alert-success text-center">
              <strong>Muchas gracias!</strong> Ya puede ingresar como usuario.
              <button (click)="goToLogin()" class="btn btn-success">Login</button>
            </div>
          </div>
        </form>

      </div>
    </div>
</div>
</div>
