<div class="style backg">
  <div class="container p-3 my-3 text-black">
    <div class="row">
      
      <div class="col-md-8 mx-auto mt-5 card bg-light">

        <h1>{{ 'editService.title' | translate }}</h1>
        <h3>{{service.UserDTO.UserName}}</h3>

        <form [formGroup]="editService" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>{{ 'editService.type' | translate }}</label>
            <input type="text" class="form-control" formControlName="type" [(ngModel)]="service.TypeService" disabled />
          </div>

          <div class="form-group">
            <label>{{ 'serviceList.desp' | translate }}</label>
            <textarea type="text" class="form-control" formControlName="desc" [(ngModel)]="service.ServiceDescription"
              [ngClass]="{ 'is-invalid': submitted && f.desc.errors }" maxlength="200"> </textarea>
              <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                <div *ngIf="f.desc.errors.required">{{ 'editService.error' | translate }}</div>
                <div *ngIf="f.desc.errors.minlength">{{ 'editService.min50' | translate }}</div>
              </div>
              <small id="descHelpBlock" class="form-text text-muted">
                {{ 'editService.max200' | translate }}
              </small>
          </div>

          <div class="form-group">
            <label>{{ 'serviceList.unidTime' | translate }}</label>
            <select [(ngModel)]="service.UnidOfTime" class="form-control" formControlName="unidTime"
              [ngClass]="{ 'is-invalid': submitted && f.unidTime.errors }">
              <option *ngFor="let unid of unidTime" [ngValue]="unid">
                {{unid}}
              </option>
            </select>
            <div *ngIf="submitted && f.unidTime.errors" class="invalid-feedback">
              <div *ngIf="f.unidTime.errors.required">{{ 'editService.error' | translate }}</div>
            </div>
          </div>

          <div *ngIf="showTransitTime">
            <div class="form-group">
              <label>{{ 'serviceList.timeTransit' | translate }}</label>
              <input type='number' step='1' min='1' max='31' class="form-control"
                formControlName="timeTransit" [(ngModel)]="service.TransitTime"
                [ngClass]="{ 'is-invalid': submitted && f.timeTransit.errors }" />
              <div *ngIf="submitted && f.timeTransit.errors" class="invalid-feedback">
                <div *ngIf="f.timeTransit.errors.required">{{ 'editService.error' | translate }}</div>
                <div *ngIf="f.timeTransit.errors.max">{{ 'editService.helptime' | translate }}</div>
              </div>
            </div>
          </div>

          <div *ngIf="showScheduleAvailable">
            <div class="form-group">
              <label>{{ 'serviceList.timeTransit' | translate }}</label>
              <input type='number' step='1' min="1" max='31' class="form-control"
                formControlName="timeTransport" [(ngModel)]="service.ScheduleAvailable"
                [ngClass]="{ 'is-invalid': submitted && f.timeTransport.errors }" />
              <div *ngIf="submitted && f.timeTransport.errors" class="invalid-feedback">
                <div *ngIf="f.timeTransport.errors.required">{{ 'editService.error' | translate }}</div>
                <div *ngIf="f.timeTransport.errors.max">{{ 'editService.helptime' | translate }}</div>
              </div>
            </div>
          </div>

          <div *ngIf="showCareTime">
            <div class="form-group ">
              <label>{{ 'serviceList.timeCare' | translate }}</label>
              <input type="number" step="1" min="1" max='31' name="timeCare" class="form-control"
                formControlName="timeCare" [(ngModel)]="service.CareTime"
                [ngClass]="{ 'is-invalid': submitted && f.timeCare.errors }" />
              <div *ngIf="submitted && f.timeCare.errors" class="invalid-feedback">
                <div *ngIf="f.timeCare.errors.required">{{ 'editService.error' | translate }}</div>
                <div *ngIf="f.timeCare.errors.max">{{ 'editService.helptime' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary">{{ 'editService.acepted' | translate }}</button>
              </div>
              <div class="col-md-6">
              <button (click)="gotoMyServices()" class="btn btn-danger float-right">{{ 'editService.cancel' | translate }}</button>
            </div>
            </div>
          </div>

          <div *ngIf="failEdit">
            <div class="alert alert-danger text-center">
              <strong>{{ 'editService.fail' | translate }}</strong>
            </div>
          </div>
          <div *ngIf="editSuccess">
            <div class="alert alert-success text-center">
              <strong><h4>{{ 'editService.success' | translate }}</h4></strong> 
              <button (click)="gotoMyServices()" class="btn btn-sm btn-success"> {{ 'editService.backServ' | translate }} </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>