<div class="container">
  <div class="panel-heading text-center">
    <h2>{{ 'dialogPubli.contact' | translate }}</h2>
  </div>
  <br>
  <div class="container">
    <address>
      <strong>{{data.UserDTO.UserName}}</strong>
      <br>
      {{data.UserDTO.PersonDTO.Address}}
      <br>
      <abbr title="Phone">{{ 'dialogPubli.phone' | translate }}</abbr> {{data.UserDTO.PersonDTO.Telephone}}
    </address>

    <address>
      <strong>{{ 'dialogPubli.nombCom' | translate }}</strong>
      <br>
      {{data.UserDTO.PersonDTO.Name}} {{data.UserDTO.PersonDTO.SurName}}
    </address>

    <address>
      <strong>{{ 'dialogPubli.email' | translate }}</strong>
      <br>
      <a href="mailto:#">{{data.UserDTO.Email}}</a>
    </address>
  </div>
</div>