<div class="page-header imgHeader">
  <div class="container">
    <div class="row">
      <div class=" col clearfix">
          <span class="float-left"> 
            <h1>S.O.S Pets<img class="img-fluid" src="https://i.ibb.co/L1fFdVz/Logo-5.png" width="80" height="80"></h1>
            <h6>{{ 'header.slogan' | translate }}</h6> 
          </span>
          <br>
          <span class="float-right"><img class="img-fluid" src="https://i.ibb.co/drK0kyX/Huella.png" width="120" height="120"></span>
      </div>
  </div>
  </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="homepage" routerLinkActive="active"> {{ 'navbar.home' | translate }} </a>

  <!-- Links -->
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item">

        <a routerLink="publications" class="nav-link" routerLinkActive="active">{{ 'navbar.lostPets' | translate }}</a>
      </li>
      <li class="nav-item">
        <a routerLink="allPublicationsFound" class="nav-link" routerLinkActive="active">{{ 'navbar.foundPets' | translate }}</a>
      </li>
      <li class="nav-item">
        <a routerLink="servicesList" class="nav-link" routerLinkActive="active">{{ 'navbar.services' | translate }}</a>
      </li>
      <div *ngIf="!authService.isLoggedIn">
        <li class="nav-item">
          <a routerLink="log-in" class="nav-link" routerLinkActive="active">{{ 'navbar.entry' | translate }}</a>
        </li>
      </div>
      <div *ngIf="authService.isLoggedIn">
        <li class="nav-item">
          <a routerLink="profile" class="nav-link" routerLinkActive="active">{{ 'navbar.miProfile' | translate }}</a>
        </li>
      </div>
    </ul>
  </div>
  <div class="dropdown dropleft">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      {{ 'navbar.language' | translate }}
    </button>
    <div class="dropdown-menu ">
      <button class="dropdown-item btn-secondary" [ngClass]="{'active': activeLang == 'es'}" (click)="useLanguage('es')">{{ 'navbar.spanish' | translate }}</button>
      <button class="dropdown-item btn-secondary" [ngClass]="{'active': activeLang == 'en'}" (click)="useLanguage('en')" >{{ 'navbar.english' | translate }}</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>