<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Bienvenido {{userDTO.UserName}}</h3>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="redirectMyPublications()">Mis Publicaciones</button>
      <button type="button" class="btn btn-success" (click)="redirectMyServices()">Mis Servicios</button>
      <button type="button" class="btn btn-success" (click)="redirectCreatePublication()">Crear publicación</button>
    </div>
  </div>

  <br>
  <br>
  <div class="form-group">
    <button class="btn btn-primary" (click)="logout()" class="btn btn-info">Salir</button>
  </div>
</div>