<div class="style backg">
  <div class="container p-3 my-3 text-black">
    <div class="panel-heading text-center">
      <h1 class="t-stroke-shadow"><strong>Bienvenido {{loginDTO.Username}}</strong></h1>
      <h4 class="t-stroke-shadow"><strong>{{ 'userPubli.title' | translate }}</strong></h4>
    </div>
    <br>
    <div class="panel-heading text-center">
      <h1 class="t-stroke-shadow">{{ 'userPubli.subtile1' | translate }}</h1>
    </div>
    <div *ngIf="isEmptyListLost">
      <br>
      <div class="alert alert-info alert-dismissible fade show text-center">
        <strong>{{ 'userPubli.oup' | translate }}</strong> {{ 'userPubli.emptyLost' | translate }}
      </div>
      <br>
    </div>
    <div class="album text-center bg-transparent" *ngIf="!isEmptyListLost">
      <div class="container">
        <div class="row">
          <div class="card"
            *ngFor="let publication of publicationsLost | paginate: { itemsPerPage: 2, currentPage: p }">
            <ngb-carousel *ngIf='images'>
              <ng-template ngbSlide *ngFor="let image of publication.Photos">
                <div class="picsum-img-wrapper">
                  <img [src]="image" alt="Card image">
                </div>
              </ng-template>
            </ngb-carousel>
            <h4 class="card-title">{{publication.AnimalDTO.AnimalDescription}}</h4>
            <p class="card-text">
              {{publication.AnimalDTO.AnimalAge}} -
              {{publication.AnimalDTO.AnimalSize}} -
              {{publication.PublicationAddress}} -
              {{publication.PublicationDescription}}
            </p>
          </div>
        </div>
      </div>
      <ul class="pagination">
        <pagination-controls (pageChange)="p = $event" autoHide="true"
          previousLabel="{{ 'petsList.paginationPrevious' | translate }}"
          nextLabel="{{ 'petsList.paginationNext' | translate }}" responsive="true"></pagination-controls>
      </ul>
    </div>
    <br>

    <div class="panel-heading text-center">
      <h1 class="t-stroke-shadow">{{ 'userPubli.subtile2' | translate }}</h1>
    </div>
    <div *ngIf="isEmptyListFound">
      <div class="alert alert-info alert-dismissible fade show text-center">
        <strong>{{ 'userPubli.oup' | translate }}</strong> {{ 'userPubli.emptyFound' | translate }}
      </div>
    </div>
    <div class="album text-center bg-transparent" *ngIf="!isEmptyListFound">
      <div class="container">
        <div class="row">
          <div class="card"
            *ngFor="let publication of publicationsFound | paginate: { itemsPerPage: 2, currentPage: p }">
            <ngb-carousel *ngIf='images'>
              <ng-template ngbSlide *ngFor="let image of publication.Photos">
                <div class="picsum-img-wrapper">
                  <img [src]="image" alt="Card image">
                </div>
              </ng-template>
            </ngb-carousel>
            <h4 class="card-title">{{publication.AnimalDTO.AnimalDescription}}</h4>
            <p class="card-text">
              {{publication.AnimalDTO.AnimalAge}} -
              {{publication.AnimalDTO.AnimalSize}} -
              {{publication.PublicationAddress}} -
              {{publication.PublicationDescription}}
            </p>
          </div>
        </div>
      </div>
      <ul class="pagination">
        <pagination-controls (pageChange)="p = $event" autoHide="true"
          previousLabel="{{ 'petsList.paginationPrevious' | translate }}"
          nextLabel="{{ 'petsList.paginationNext' | translate }}" responsive="true"></pagination-controls>
      </ul>
    </div>
  </div>
</div>