/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.imgHeader {
    background-image: url(imgHeader.png); 
    background-size:cover;
    background-position-x: 80px;
    background-position-y: -10px;
}