<div class="container p-3 my-3 bg-white text-black">
  <div class="panel-heading text-center">
    <h1>Listado de publicaciones</h1>
  </div>
  <div class="panel-body table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark text-center">
        <tr>
          <th></th>
          <th>Raza</th>
          <th>Tamaño</th>
          <th>Edad</th>
          <th>Descripción</th>
          <th>Tipo publicación</th>
          <th>dirección</th>
          <th>Especificación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let publication of publications | async" class="text-center">
          <td><img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841_960_720.jpg" width="300" height="200"></td>
          <td>{{publication.Breed}}</td>
          <td>{{publication.Size}}</td>
          <td>{{publication.Age}}</td>
          <td>{{publication.Description}}</td>
          <td>{{publication.PublicationType}}</td>
          <td>{{publication.Adrees}}</td>
          <td>{{publication.Specification}}</td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <div class="panel-heading text-center">
      <h1>Listado de publicaciones</h1>
    </div>
    <div class="card-columns" *ngFor="let publication of publications | async">
      <img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841_960_720.jpg" style="width:200%">
      <div class="card-body-center bg-light text-dark text-center border" style="width:350px" >
        <h4 class="card-title">{{publication.Breed}}</h4>
        <p class="card-text">{{publication.Size}} - {{publication.Age}} - {{publication.Description}} - {{publication.PublicationType}} - {{publication.Adrees}} - {{publication.Specification}}</p>
      </div>
      <br>
      <a href="#" class="btn btn-success btn-block stretched-link">Contact</a>
    </div>
  </div>
</div>