<div class="container">
  <div class="panel-heading text-center">
    <h2>Listado de publicaciones</h2>
  </div>
  <div class="panel-body table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Raza</th>
          <th>Tamaño</th>
          <th>Edad</th>
          <th>Descripción</th>
          <th>Nombre Usuario</th>
          <th>eMail</th>
          <th>Localización</th>
          <th>Tipo publicación</th>
          <th>Estado publicación</th>
          <th>dirección</th>
          <th>Especificación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let publication of publications | async">
          <td>{{publication.breed}}</td>
          <td>{{publication.size}}</td>
          <td>{{publication.age}}</td>
          <td>{{publication.description}}</td>
          <td>{{publication.userName}}</td>
          <td>{{publication.email}}</td>
          <td>{{publication.location}}</td>
          <td>{{publication.publicationType}}</td>
          <td>{{publication.publicationStatus}}</td>
          <td>{{publication.adrees}}</td>
          <td>{{publication.specification}}</td>
          <td>
            <button (click)="buyMenu(menu.id)" class="btn btn-info btn-sm">Buy</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>